<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- All your bean and its configuration metadata goes here --> 

		<bean id="employeeService" class="com.diConstructor.beans.EmployeeService">
			<constructor-arg ref="logger"></constructor-arg>		
	    </bean>
	    
	    <bean id="logger" class="com.diConstructor.beans.Logger"></bean>
</beans>